<!DOCTYPE html>
<html lang="en">
    <!--using .. in href means up 1 directory/ up 1 folder-->
    <link rel="stylesheet" href="../static/css/video.css">
    <head>
        <meta charset="utf-8" />
        <title>Translation</title>
    </head>

    <body>
        <label for="langs">Languages</label>
        <select id="langs">
        </select>

        <!-- title -->
        <p>{{title}}</p>

        <!-- translated text -->
        <p id="text">{{text}}</p>


        <!-- <button id="clickButton">CLICK HERE</button> -->
    </body>
    <script src="static/js/main.ts"></script>
</html>